.form {
  border: 1px solid black;
  width: 25vw;
  padding: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.formLabel {
  font-size: 15px;
  margin-bottom: 10px;
}

.formInput {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.contactFormButton {
  margin-top: 15px;
  font-size: 15px;
  margin-bottom: 10px;
}
